.body{
    font-family: 'Roboto', sans-serif;
}
.table, th, td{
    border: 1px solid rgb(54, 51, 51);

}
.table{
    border-collapse: collapse;

    th,td{
        padding: 5px 19px;
       
    }   
}